Enter your new password

<form method="post" action="/sessions/new">
	Password: <input type="password" name="password">
	Confirm password: <input type="password" name="confirm_password">
	<input type="submit" value="Reset password">
</form>