Enter your new password

<form method="post" action="/users/new-password">
	Password: <input type="password" name="password">
	Confirm password: <input type="password" name="confirm_password">
	<input type="hidden" name="token" value=<%= @token %>>
	<input type="submit" value="Reset password">
</form>

